<!--<nav>
<div><a href="/">Home</a></div>
<div><a href="/encounters">Dashboard</a></div>
<div><a href="/encounters/new">Create New Encounter</a></div>
<div><a href=" ">Logout</a></div>
</nav>-->

<form action="/encounters/<%= @encounter.id %>" method="POST">
   <input type="hidden" name="_method" value="patch">
    <div class="editwrapper">
        <div class="edittitle">
            <h1>Edit Encounter</h1>
        </div>

        <div class="editboxtitle">
            <div>
                <label for="title">Title: </label>
                <input type="text" name="encounter[title]" id="title" value="<%=@encounter.title%>">
            </div>
        </div>

        <div>
            <div class="editboxdescription1">
                <label for="description">Description: </label>
            </div>

            <div class="editboxdescription2">
                <textarea name="encounter[description]" id="description" cols= "50" rows="3" value="<%=@encounter.description%>">
                    <%=@encounter.description%>
                </textarea>
            </div>
        </div>

        <div class="editbox">
            <div>
                <label for="urgency">Urgency: </label>
            </div>

            <div>
                <input type="radio" name="encounter[urgency]" id="stat" value="STAT"<%= 'checked' if @encounter.urgency == "STAT"%>>
                <label for="stat">STAT</label>

                <input type="radio" name="encounter[urgency]" id="rush" value="Rush"<%= 'checked' if @encounter.urgency == "Rush"%>>
                <label for="rush">Rush</label>

                <input type="radio" name="encounter[urgency]" id="casual" value="Casual"<%= 'checked' if @encounter.urgency == "Casual"%>>
                <label for="casual">Casual</label>
            </div>
        </div>
        <div class="editbox">
            <div>
                <label for="dept">Department: </label>
            </div>

            <div>
                <input type="radio" name="encounter[dept]" id="it" value="IT"<%= 'checked' if @encounter.dept == "IT"%>>
                <label for="it">IT</label>

                <input type="radio" name="encounter[dept]" id="hr" value="HR"<%= 'checked' if @encounter.dept == "HR"%>>
                <label for="hr">HR</label>

                <input type="radio" name="encounter[dept]" id="management" value="Management"<%= 'checked' if @encounter.dept == "Management"%>>
                <label for="management">Management</label>

                <input type="radio" name="encounter[dept]" id="surgical" value="Surgical"<%= 'checked' if @encounter.dept == "Surgical"%>>
                <label for="surgical">Surgical</label>

                <input type="radio" name="encounter[dept]" id="cytology" value="Cytology"<%= 'checked' if @encounter.dept == "Cytology"%>>
                <label for="cytology">Cytology</label>

                <input type="radio" name="encounter[dept]" id="histology" value="Histology"<%= 'checked' if @encounter.dept == "Histology"%>>
                <label for="histology">Histology</label>
            </div>
        </div>

        <div class="buttonswrapper">
            <div class="editbutton">
                <input type="submit" value=" -Save Encounter- ">
            </div>

            <form action="/encounters" method="get">
                <div class="cancelbutton">
                    <input type="submit" value=" -Cancel- ">
                </div>
            </form>
        </div>
    </div>

</form>



